runtime: go113
env_variables:
  DISCORD_BOT_TOKEN: "${DISCORD_BOT_TOKEN}"
  DISCORD_CHANNEL_ID: "${DISCORD_CHANNEL_ID}"
  SLACK_CHANNEL: "${SLACK_CHANNEL}"
  SLACK_ICON_EMOJI: "${SLACK_ICON_EMOJI}"
  SLACK_USERNAME: "${SLACK_USERNAME}"
  SLACK_WEBHOOK_URL: "${SLACK_WEBHOOK_URL}"
inbound_services:
  - warmup
instance_class: F1

automatic_scaling:
  min_instances: 1
  max_instances: 1
